/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'AppleGothic';
  src: url('fonts/AppleGothic.ttf');
}

.font-appleGothic {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-appleGothic {
    font-family: 'AppleGothic', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

.font-helveticaNeueLight {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-helveticaNeueLight {
    font-family: 'HelveticaNeue-Light', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

/* Font copied in place by React Studio. Please check that your license for this font file permits embedding on a website. */
@font-face {
  font-family: 'Futura-Medium';
  src: url('fonts/Futura-Medium.ttf');
}

.font-futuraMedium {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-futuraMedium {
    font-family: 'Futura-Medium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

.font-helveticaNeue {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
}
@media (min-resolution: 120dpi) {
  .font-helveticaNeue {
    font-family: 'HelveticaNeue', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  }
}

.App { /* Base font style */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 0.8500);
  background-color: #f6f6f6;
}

.App .baseFont * { /* Base font style override for UI framework components */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 15.1px;
}

.App .appBg {
  background-color: #f6f6f6;
}

.App .cardBg {
  background-color: white;
}

.App .baseTextBg { /* Base text color as background */
  background-color: rgba(0, 0, 0, 0.8500);
}

.App .secondaryTextColor {
  color: rgba(0, 0, 0, 0.5000);
}

.App .secondaryTextBg {
  background-color: rgba(0, 0, 0, 0.5000);
}

.App .primaryTextColor {
  color: #bee9ee;
}

.App .primaryBg {
  background-color: #bee9ee;
}

.App .highlightTextColor {
  color: #0093d5;
}

.App .highlightBg {
  background-color: #0093d5;
}

/* Styles to customize the UI framework plugin (MUI, https://muicss.com) */
.mui-btn {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.mui-btn--primary {
    background-color: #bee9ee;
}
.mui-btn--primary:active, .mui-btn--primary:focus, .mui-btn--primary:hover {
    background-color: #c3ebf0;
}
.mui-btn--accent {
    background-color: #0093d5;
}
.mui-btn--accent:active, .mui-btn--accent:focus, .mui-btn--accent:hover {
    background-color: #069fda;
}
.mui-textfield {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-checkbox, .mui-radio {  /* Reset UI framework styling that affects layout */
    margin-top: 0;
    margin-bottom: 0;
}
.mui-select {  /* Reset UI framework styling that affects layout */
    padding-top: 0;
    margin-bottom: 0;
}
.mui-btn+.mui-btn {  /* Reset UI framework styling that affects layout */
    margin-left: 0;
}
.mui-btn--fab {  /* Reset UI framework styling that breaks compositing */
    z-index: auto;
}

@keyframes fadeIn {
    0%   { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@keyframes slideIn_right {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(0); }
}
@keyframes slideIn_bottom {
    0%   { transform: translateY(100%); }
    100% { transform: translateY(0); }
}

/* App-wide text styles specified in React Studio */
.App .actionFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 14.2px;
  font-weight: 400;
}
.App .actionFont * {
  font-size: 14.2px;
}
.App .headlineFont {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 19.4px;
  font-weight: 400;
}
.App .headlineFont * {
  font-size: 19.4px;
}
.App .navBar {
  background-color: #bee9ee;
  color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 63px;
  min-height: 63px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", sans-serif;
  font-size: 18px;
}

.App .navBar a {
  color: black;
}

.App .navBar .title {
  position: absolute;
  width: 100%;
  text-align: center;
  padding: 4px;
  margin-top: 13px;
}

.App .navBar .backBtn {
  position: absolute;
  padding: 4px;
  margin-left: 14px;
  margin-top: 14px;
  cursor: pointer;
}

@media (min-width: 320px) {
  .mui-container {
    max-width: 320px;
  }
}
@media (min-width: 568px) {
  .mui-container {
    max-width: 568px;
  }
}
@media (min-width: 768px) {
  .mui-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .mui-container {
    max-width: 1024px;
  }
}

.AppScreen {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: 100%;
}

.App .background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App .layoutFlow {
  position: relative;
  width: 100%;
  pointer-events: none;
}
.App .layoutFlow:before {  /* Prevent margin collapse */
  content: "";
  display: table;
  clear: both;
}
.App .layoutFlow .flowRow {
  position: relative;
  width: 100%;
}

.App .screenFgContainer {
  /* Items in the foreground group within a screen are placed with fixed positioning */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.App .foreground {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.App ul {
  margin: 0;
  padding: 0;
}
.App li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.App .hasNestedComps {
  position: relative;
}
.App .hasNestedComps:after {
  content: "";
  display: table;
  clear: both;
}
.App .hasNestedComps .background {
  position: absolute;
}
.App .hasNestedComps .layoutFlow {
  position: relative;
}
.App .bottomAlignedContent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.App .blockInputOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  z-index: 99999999;
}

/* This component has a fixed-size layout */
  .ThankYouComp {
    min-height: 615px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 378px */
    height: 100%;
  }
  .ThankYouComp > .background > .containerMinHeight {
    min-height: 615px;
  }


  .ThankYouComp > .background > .elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }


  .ThankYouComp > .foreground > .elRectangle {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -86px;
    width: 100.0%;
    height: 369px;
  }


  .ThankYouComp > .foreground > .elTextBlock {
    overflow: hidden;
    position: absolute;
    left: 10.0%;
    right: calc(10.0% + 0px);
    top: 212px;
    width: 80.0%;
    height: 74px;
  }


  .ThankYouComp > .foreground > .elTextBlock2 {
    overflow: hidden;
    position: absolute;
    left: 10.0%;
    right: calc(10.0% + -0px);
    top: 302px;
    width: calc(80.0% - 0px - -0px);
    height: 101px;
  }

/* This component has a fixed-size layout */
  .WelcomeUSNComp {
    min-height: 30px;
    overflow: hidden;
    width: 100%; /* This component was designed using a width of 226px */
    height: 100%;
  }
  .WelcomeUSNComp > .background > .containerMinHeight {
    min-height: 30px;
  }


  .WelcomeUSNComp > .foreground > .elUsn {
    overflow: hidden;
    position: absolute;
    left: 115px;
    right: 0px;
    top: 0px;
    width: calc(100.0% - 115px - 0px);
    height: 30px;
  }


  .WelcomeUSNComp > .foreground > .elWelcome {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 135px;
    top: 0px;
    width: calc(100.0% - 0px - 135px);
    height: 31px;
  }

.TYScreen .elThankYou {
  overflow: hidden;
}

.TYScreen .elThankYou.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .TYScreen > .screenFgContainer > .foreground > .elThankYou {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 546px;
  }
  .TYScreen > .screenFgContainer > .foreground > .elThankYou > .background > .containerMinHeight {
    min-height: 547px;
  }

@media (min-width: 568px) {
  .TYScreen > .screenFgContainer > .foreground > .elThankYou {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 546px;
  }
  .TYScreen > .screenFgContainer > .foreground > .elThankYou > .background > .containerMinHeight {
    min-height: 547px;
  }

}
@media (min-width: 768px) {
  .TYScreen > .screenFgContainer > .foreground > .elThankYou {
    left: 0px;
    right: 0px;
    top: 10px;
    width: 100.0%;
    height: 994px;
  }
  .TYScreen > .screenFgContainer > .foreground > .elThankYou > .background > .containerMinHeight {
    min-height: 547px;
  }

}
@media (min-width: 1024px) {
  .TYScreen > .screenFgContainer > .foreground > .elThankYou {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 748px;
  }
  .TYScreen > .screenFgContainer > .foreground > .elThankYou > .background > .containerMinHeight {
    min-height: 547px;
  }

}

/* This component has a fixed-size layout */
  .InputFieldComp {
    min-height: 297px;
    width: 100%; /* This component was designed using a width of 311px */
    height: 100%;
  }
  .InputFieldComp > .background > .containerMinHeight {
    min-height: 297px;
  }


  .InputFieldComp > .layoutFlow > .state0_elPhoneNumber {
    position: relative;
    margin-top: 4px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .InputFieldComp > .layoutFlow > .state0_elPhoneNumber > * { 
    width: 100%;
  }
  


  .InputFieldComp > .layoutFlow > .state0_elCompanyName {
    position: relative;
    margin-top: 17px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .InputFieldComp > .layoutFlow > .state0_elCompanyName > * { 
    width: 100%;
  }
  


  .InputFieldComp > .layoutFlow > .state0_elWorkAddr {
    position: relative;
    margin-top: 17px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .InputFieldComp > .layoutFlow > .state0_elWorkAddr > * { 
    width: 100%;
  }
  


  .InputFieldComp > .layoutFlow > .state0_elHomeAddr {
    position: relative;
    margin-top: 22px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .InputFieldComp > .layoutFlow > .state0_elHomeAddr > * { 
    width: 100%;
  }
  


  .InputFieldComp > .layoutFlow > .state0_elTextBlock {
    overflow: hidden;
    position: relative;
    margin-top: 24px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .InputFieldComp > .layoutFlow > .state0_elTextBlock > * { 
    width: 100%;
  }
  


  .InputFieldComp > .layoutFlow > .state0_elDriver {
    position: relative;
    margin-top: 8px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .InputFieldComp > .layoutFlow > .state0_elDriver > * { 
    width: 100%;
  }
  

/* This component has a fixed-size layout */
  .InputFieldComp {
    min-height: 297px;
    width: 100%; /* This component was designed using a width of 311px */
    height: 100%;
  }
  .InputFieldComp > .background > .containerMinHeight {
    min-height: 297px;
  }

/* This component has a fixed-size layout */
  .FormComp {
    min-height: 485px;
    width: 100%; /* This component was designed using a width of 789px */
    height: 100%;
  }
  .FormComp > .background > .containerMinHeight {
    min-height: 485px;
  }


  .FormComp > .layoutFlow > .state0_elHopinHeader {
    overflow: hidden;
    position: relative;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .FormComp > .layoutFlow > .state0_elHopinHeader > * { 
    width: 100%;
  }
  

.FormComp .state0_elWelcomeUserText {
  overflow: hidden;
}

.FormComp .state0_elWelcomeUserText.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



  .FormComp > .layoutFlow > .state0_elWelcomeUserText {
    position: relative;
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .FormComp > .layoutFlow > .state0_elWelcomeUserText > * { 
    width: 100%;
  }
  

.FormComp .state0_elUserForm623893 {
  overflow: hidden;
}

.FormComp .state0_elUserForm623893.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



  .FormComp > .layoutFlow > .state0_elUserForm623893 {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .FormComp > .layoutFlow > .state0_elUserForm623893 > * { 
    width: 100%;
  }
  

.FormComp .state0_elSave button {
  border: 0.0px solid transparent;
}



  .FormComp > .layoutFlow > .state0_elSave {
    line-height: 47px;
    position: relative;
    margin-top: 32px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .FormComp > .layoutFlow > .state0_elSave > * { 
    width: 100%;
  }
  

/* This component has a fixed-size layout */
  .FormComp {
    min-height: 485px;
    width: 100%; /* This component was designed using a width of 789px */
    height: 100%;
  }
  .FormComp > .background > .containerMinHeight {
    min-height: 485px;
  }

.FormComp .state1_elUserForm623893 {
  overflow: hidden;
}

.FormComp .state1_elUserForm623893.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



  .FormComp > .layoutFlow > .state1_elUserForm623893 {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: calc(100.0% - 0px);
  }
  .FormComp > .layoutFlow > .state1_elUserForm623893 > * { 
    width: 100%;
  }
  


/* Narrowest size for this element's responsive layout */
  .UserquestionnaireScreen > .background > .state0_elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .UserquestionnaireScreen > .background > .state0_elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .UserquestionnaireScreen > .background > .state0_elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .UserquestionnaireScreen > .background > .state0_elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}

.UserquestionnaireScreen .state0_elFormComp772727 {
  overflow: hidden;
}

.UserquestionnaireScreen .state0_elFormComp772727.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .UserquestionnaireScreen > .layoutFlow > .state0_elFormComp772727 {
    position: relative;
    margin-top: 55px;
    margin-left: 5.0%;
    margin-right: calc(5.0% + 0px);
    width: calc(90.0% - 0px);
  }
  .UserquestionnaireScreen > .layoutFlow > .state0_elFormComp772727 > * { 
    width: 100%;
  }
  
  .UserquestionnaireScreen > .layoutFlow > .state0_elFormComp772727 > .background > .containerMinHeight {
    min-height: 485px;
  }

@media (min-width: 568px) {
  .UserquestionnaireScreen > .layoutFlow > .state0_elFormComp772727 {
    position: relative;
    margin-top: 30px;
    margin-left: 5.0%;
    margin-right: calc(5.0% + 0px);
    width: calc(90.0% - 0px);
  }
  .UserquestionnaireScreen > .layoutFlow > .state0_elFormComp772727 > * { 
    width: 100%;
  }
  
  .UserquestionnaireScreen > .layoutFlow > .state0_elFormComp772727 > .background > .containerMinHeight {
    min-height: 485px;
  }

}
@media (min-width: 768px) {
  .UserquestionnaireScreen > .layoutFlow > .state0_elFormComp772727 {
    position: relative;
    margin-top: 100px;
    margin-left: 5.0%;
    margin-right: calc(5.0% + 0px);
    width: calc(90.0% - 0px);
  }
  .UserquestionnaireScreen > .layoutFlow > .state0_elFormComp772727 > * { 
    width: 100%;
  }
  
  .UserquestionnaireScreen > .layoutFlow > .state0_elFormComp772727 > .background > .containerMinHeight {
    min-height: 482px;
  }

}
@media (min-width: 1024px) {
  .UserquestionnaireScreen > .layoutFlow > .state0_elFormComp772727 {
    position: relative;
    margin-top: 75px;
    margin-left: 5.0%;
    margin-right: calc(5.0% + 0px);
    width: calc(90.0% - 0px);
  }
  .UserquestionnaireScreen > .layoutFlow > .state0_elFormComp772727 > * { 
    width: 100%;
  }
  
  .UserquestionnaireScreen > .layoutFlow > .state0_elFormComp772727 > .background > .containerMinHeight {
    min-height: 482px;
  }

}

.UserquestionnaireScreen .state1_elFormComp772727 {
  overflow: hidden;
}

.UserquestionnaireScreen .state1_elFormComp772727.hasNestedComps > div {
  overflow: hidden;
  position: relative;
}



/* Narrowest size for this element's responsive layout */
  .UserquestionnaireScreen > .layoutFlow > .state1_elFormComp772727 {
    position: relative;
    margin-top: 55px;
    margin-left: 5.0%;
    margin-right: calc(5.0% + 0px);
    width: calc(90.0% - 0px);
  }
  .UserquestionnaireScreen > .layoutFlow > .state1_elFormComp772727 > * { 
    width: 100%;
  }
  
  .UserquestionnaireScreen > .layoutFlow > .state1_elFormComp772727 > .background > .containerMinHeight {
    min-height: 485px;
  }

@media (min-width: 568px) {
  .UserquestionnaireScreen > .layoutFlow > .state1_elFormComp772727 {
    position: relative;
    margin-top: 30px;
    margin-left: 5.0%;
    margin-right: calc(5.0% + 0px);
    width: calc(90.0% - 0px);
  }
  .UserquestionnaireScreen > .layoutFlow > .state1_elFormComp772727 > * { 
    width: 100%;
  }
  
  .UserquestionnaireScreen > .layoutFlow > .state1_elFormComp772727 > .background > .containerMinHeight {
    min-height: 485px;
  }

}
@media (min-width: 768px) {
  .UserquestionnaireScreen > .layoutFlow > .state1_elFormComp772727 {
    position: relative;
    margin-top: 100px;
    margin-left: 5.0%;
    margin-right: calc(5.0% + 0px);
    width: calc(90.0% - 0px);
  }
  .UserquestionnaireScreen > .layoutFlow > .state1_elFormComp772727 > * { 
    width: 100%;
  }
  
  .UserquestionnaireScreen > .layoutFlow > .state1_elFormComp772727 > .background > .containerMinHeight {
    min-height: 482px;
  }

}
@media (min-width: 1024px) {
  .UserquestionnaireScreen > .layoutFlow > .state1_elFormComp772727 {
    position: relative;
    margin-top: 75px;
    margin-left: 5.0%;
    margin-right: calc(5.0% + 0px);
    width: calc(90.0% - 0px);
  }
  .UserquestionnaireScreen > .layoutFlow > .state1_elFormComp772727 > * { 
    width: 100%;
  }
  
  .UserquestionnaireScreen > .layoutFlow > .state1_elFormComp772727 > .background > .containerMinHeight {
    min-height: 482px;
  }

}


/* Narrowest size for this element's responsive layout */
  .LogingateScreen > .background > .state0_elBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
@media (min-width: 568px) {
  .LogingateScreen > .background > .state0_elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 768px) {
  .LogingateScreen > .background > .state0_elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}
@media (min-width: 1024px) {
  .LogingateScreen > .background > .state0_elBackground {
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100.0%;
    height: 100%;
  }
}


/* Narrowest size for this element's responsive layout */
  .LogingateScreen > .layoutFlow > .state0_elFirebaseLogin {
    position: relative;
    margin-top: 137px;
    margin-left: 0.0%;
    margin-right: 0.0%;
    width: calc(100.0% - 0px);
  }
  .LogingateScreen > .layoutFlow > .state0_elFirebaseLogin > * { 
    width: 100%;
  height: 163px;
  }
  
@media (min-width: 568px) {
  .LogingateScreen > .layoutFlow > .state0_elFirebaseLogin {
    position: relative;
    margin-top: 75px;
    margin-left: 0.0%;
    margin-right: 0.0%;
    width: calc(100.0% - 0px);
  }
  .LogingateScreen > .layoutFlow > .state0_elFirebaseLogin > * { 
    width: 100%;
  height: 163px;
  }
  
}
@media (min-width: 768px) {
  .LogingateScreen > .layoutFlow > .state0_elFirebaseLogin {
    position: relative;
    margin-top: 251px;
    margin-left: 0.0%;
    margin-right: 0.0%;
    width: calc(100.0% - 0px);
  }
  .LogingateScreen > .layoutFlow > .state0_elFirebaseLogin > * { 
    width: 100%;
  height: 162px;
  }
  
}
@media (min-width: 1024px) {
  .LogingateScreen > .layoutFlow > .state0_elFirebaseLogin {
    position: relative;
    margin-top: 187px;
    margin-left: -0.0%;
    margin-right: 0.0%;
    width: calc(100.0% - 0px);
  }
  .LogingateScreen > .layoutFlow > .state0_elFirebaseLogin > * { 
    width: 100%;
  height: 162px;
  }
  
}


/* Narrowest size for this element's responsive layout */
  .LogingateScreen > .layoutFlow > .state1_elText {
    overflow: hidden;
    position: relative;
    margin-top: 219px;
    width: 254px;
    margin-left: calc(50.0% - 127px);
  }
  .LogingateScreen > .layoutFlow > .state1_elText > * { 
  width: 254px;
  }
  
@media (min-width: 568px) {
  .LogingateScreen > .layoutFlow > .state1_elText {
    overflow: hidden;
    position: relative;
    margin-top: 120px;
    width: 254px;
    margin-left: calc(50.0% - 127px);
  }
  .LogingateScreen > .layoutFlow > .state1_elText > * { 
  width: 254px;
  }
  
}
@media (min-width: 768px) {
  .LogingateScreen > .layoutFlow > .state1_elText {
    overflow: hidden;
    position: relative;
    margin-top: 402px;
    width: 253px;
    margin-left: calc(50.0% - 126px);
  }
  .LogingateScreen > .layoutFlow > .state1_elText > * { 
  width: 253px;
  }
  
}
@media (min-width: 1024px) {
  .LogingateScreen > .layoutFlow > .state1_elText {
    overflow: hidden;
    position: relative;
    margin-top: 299px;
    width: 253px;
    margin-left: calc(50.0% - 126px);
  }
  .LogingateScreen > .layoutFlow > .state1_elText > * { 
  width: 253px;
  }
  
}

